{
  "root": true,
  "parserOptions": {
    "project": [
      "./tsconfig.eslint.json",
      "./packages/rigidity/tsconfig.eslint.json",
      "./packages/core/*/tsconfig.json",
      "./packages/adapters/*/tsconfig.json"
    ]
  },
  "extends": [
    "lxsmnsyc/typescript"
  ]
}